@import "../../vars.css";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  z-index: 1000;
  background-color: rgba(12, 12, 12, 0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.title:hover::after {
  width: 100%;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.menuItems a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.menuItems a:hover {
  color: var(--color-primary);
}

.menuItems a:hover::after {
  width: 100%;
}

.menuBtn {
  display: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    padding: 15px 5%;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 5%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(109, 25, 25);
    background: linear-gradient(
      0deg,
      rgba(109, 25, 25, 0.2) 0%,
      rgba(109, 25, 25, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    margin-top: 10px;
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }

  .title {
    font-size: 24px;
  }

  .menuItems a {
    font-size: 20px;
  }
}
