@import "../../vars.css";

.footer {
  background-color: rgba(12, 12, 12, 0.8);
  padding: 15px 0;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

.copyright {
  color: var(--color-text);
  font-size: 14px;
  opacity: 0.8;
}
