* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Adjusted for fixed header */
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0c0c0c;
}

::-webkit-scrollbar-thumb {
  background: #6d1919;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a2020;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
