:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #333333;
    --color-secondary: #555555;
    --color-dark: #000000;
    --color-bg: #121212;

    /* Fonts */
    --font-roboto: "Roboto";
}
